@use "../abstracts";

// --- CTA button
.btn {
  // desktop styling
  padding: 18px 48px;
  background-color: var(--brand-purple);
  color: var(--white);
  font-family: var(--body-typeface);
  font-size: 18px; //14px
  font-weight: 600;
  line-height: 1.125rem;
  letter-spacing: 0.03rem;
  border: none;
  border-radius: 32rem;
  transition: background-color 0.05s ease;
  &:hover {
    cursor: pointer;
    background-color: var(--brand-purple-dark);
  }
}

// --- NAV button

.nav__btn {
  padding: 0.75rem 1rem;
  border-radius: 32rem;
  font-size: 0.875rem;
  font-family: var(--body-typeface);
  color: var(--text-grey);
  font-weight: 600;
  transition: background-color 0.05s ease;
  // at desktop - up font size
  @include abstracts.breakpointUp(large) {
    font-size: 1rem;
  }

  // hover
  &:hover {
    cursor: pointer;
    background-color: var(--dark-grey);
  }

  &--selected {
    color: var(--text-heading);
    background-color: var(--brand-purple-light);
    //hover
    &:hover {
      background-color: var(--brand-purple-mid);
    }
  }
}
