@use "../abstracts";

.nav__container {
  margin: 0 0 0.5rem 0;
  padding: 1rem;
  list-style-type: none;
  background-color: var(--light-grey);
  display: flex;
  justify-content: space-between;
  // at tablet - left align buttons
  @include abstracts.breakpointUp(small) {
    justify-content: flex-start;
    gap: 1.5rem;
  }
  @include abstracts.breakpointUp(large) {
    padding: 1rem 2rem;
  }
}
