@use "../abstracts";

.project-article {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include abstracts.breakpointUp(small) {
    margin: 0 2rem;
  }
  @include abstracts.breakpointUp(large) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  // anchor menu -----------------------
  &__anchor-menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include abstracts.breakpointUp(large) {
      order: 2;
      width: 10.5rem;
      position: sticky;
      top: 2rem;
    }
  }
  &__anchor-menu {
    flex-grow: 1;
    max-width: 50rem;
    margin-bottom: 3rem;
  }
  &__anchor-menu-title {
    margin: 0 0 1rem 0.75rem;
  }
  &__anchor-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__anchor-menu-item {
    display: flex;
    margin-bottom: 1rem;
  }
  &__anchor-menu-item-cap {
    margin-right: 0.5rem;
    width: 0.25rem;
    background-color: transparent;
    border-radius: 1rem;
    transition: background-color 0.2s ease;
  }
  // overview table -----------------------
  &__overview-table {
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    border: 1px solid var(--dark-grey);
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-radius: 0.625rem;
    width: 100%;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
    }
  }
  &__overview-table ul {
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
  }
  &__overview-table li {
    line-height: 1.3125rem;
    margin-bottom: 0.5rem;
  }
  &__overview-table-row {
    display: flex;
    flex-direction: column;
    @include abstracts.breakpointUp(medium) {
      flex-direction: row;
    }
  }
  &__overview-table-row:first-of-type th {
    border-radius: 0.625rem 0.625rem 0 0;
    border-top: none;
    @include abstracts.breakpointUp(medium) {
      border-radius: 0.625rem 0 0 0;
    }
  }

  &__overview-table-row:last-of-type th {
    @include abstracts.breakpointUp(medium) {
      border-radius: 0 0 0 0.625rem;
    }
  }
  &__overview-table-row:first-of-type td {
    border-top: none;
  }
  &__overview-table-head {
    background-color: var(--light-grey);
    padding: 1rem;
    text-align: left;
    border-top: 1px solid var(--dark-grey);
    border-radius: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include abstracts.breakpointUp(medium) {
      flex-basis: 13.75rem;
      flex-shrink: 0;
      justify-content: center;
    }
  }
  &__overview-table-data {
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    width: 100%;
    @include abstracts.breakpointUp(medium) {
      padding: 1.5rem 1rem 2rem 1rem;
      border-top: 1px solid var(--dark-grey);
    }
  }
  // text blocks -----------------------
  &__text-block-container {
    max-width: 50rem;
    @include abstracts.breakpointUp(large) {
      margin-right: 2rem;
    }
  }
  &__text-block {
    margin-bottom: 3rem;
    @include abstracts.breakpointUp(medium) {
      margin-bottom: 4rem;
    }
    @include abstracts.breakpointUp(large) {
      margin-bottom: 5rem;
    }
  }
  &__h2-title {
    margin-bottom: 1rem;
    @include abstracts.breakpointUp(large) {
      margin-bottom: 2rem;
    }
  }
  &__paragraph {
    margin-bottom: 1rem;
  }
  // selected cap bar visibility
  .project-article__anchor-menu-item--selected
    .project-article__anchor-menu-item-cap {
    background-color: var(--brand-purple);
  }
}
