@use "../abstracts";

.banner {
  margin: 0 1rem 0.5rem 1rem;
  border-radius: 0.75rem;
  padding: 3rem 0;
  max-width: 120rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position-y: center;
  background-position-x: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  @include abstracts.breakpointUp(small) {
    padding: 3.5rem 0;
  }
  @include abstracts.breakpointUp(medium) {
    padding: 4rem 0;
    margin-bottom: 1rem;
  }
  @include abstracts.breakpointUp(large) {
    padding: 4.5rem 0;
    margin-bottom: 2rem;
  }
  // banner images ------
  &--home {
    background-image: url("../img/home-banner-new2.png");
  }
  &--projects {
    background-image: url("../img/project-new-bg.png");
  }
  &--contact {
    background-image: url("../img/contact-bg.png");
  }
  // banner spacing ------
  &--projects,
  &--contact {
    margin-bottom: 2rem;
    @include abstracts.breakpointUp(large) {
      margin-bottom: 3.5rem;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__main-title {
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    @include abstracts.breakpointUp(small) {
      font-size: 2.9rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 4rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 6.25rem;
    }
  }
  &__sub-title {
    font-size: 1rem;
    font-family: var(--body-typeface);
    font-weight: 800;
    color: var(--brand-purple-extra-dark);
    @include abstracts.breakpointUp(small) {
      font-size: 1.125rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.75rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 2rem;
    }
  }
  &__sub-title-separator {
    font-weight: 500;
  }
}
