@use "../abstracts";

.banner-project {
  margin: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: calc(100% - 2rem);
  max-width: 1920px;
  @include abstracts.breakpointUp(medium) {
    gap: 1rem;
    margin-bottom: 3rem;
  }
  @include abstracts.breakpointUp(large) {
    flex-direction: row;
    margin-bottom: 5rem;
  }

  &__hero-banner {
    // ----- new
    background-position-y: center;
    //background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/project-bg.png");
    // ------
    background-color: var(--light-grey);
    border-radius: 0.75rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #bdbdbd;
    width: 100%;
    @include abstracts.breakpointUp(small) {
      padding: 3.5rem 1rem;
    }
    @include abstracts.breakpointUp(medium) {
      padding: 3.5rem 2rem;
    }
    @include abstracts.breakpointUp(large) {
      padding: 3.5rem 3rem;
      width: 60%;
    }
  }
  &__hero-img {
    display: flex;
    background-color: #bdbdbd;
    min-height: calc(100vw * 0.47);
    border-radius: 0.75rem;
    width: 100%;
    @include abstracts.breakpointUp(large) {
      min-height: 100%;
      width: 40%;
    }
  }
  &__title {
    margin-bottom: 0.5rem;
  }
  &__summary {
    margin-bottom: 1.5rem;
  }
}
