@use "../abstracts";

.banner {
  margin: 0 1rem 0.5rem 1rem;
  border-radius: 0.75rem;
  padding: 3rem 0;
  max-width: 120rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position-y: center;
  background-position-x: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  @include abstracts.breakpointUp(small) {
    padding: 3.5rem 0;
  }
  @include abstracts.breakpointUp(medium) {
    padding: 4rem 0;
    margin-bottom: 1rem;
  }
  @include abstracts.breakpointUp(large) {
    padding: 4.5rem 0;
    margin-bottom: 2rem;
  }
  // banner images ------
  &--home {
    background-image: url("../img/banner-homepage.png");
  }
  &--projects {
    background-image: url("../img/green-banner.png");
  }
  &--contact {
    background-image: url("../img/orange-banner.png");
  }
  // banner spacing ------
  &--projects,
  &--contact {
    margin-bottom: 2rem;
    @include abstracts.breakpointUp(large) {
      margin-bottom: 3.5rem;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__main-title {
    margin-bottom: 0.5rem;
  }
}
