@use "../abstracts";

.contact {
  padding: 0 1rem;
  margin-bottom: 3rem;
  width: 100%;
  @include abstracts.breakpointUp(small) {
    padding: 0 2rem;
    margin-bottom: 4rem;
  }
  &__details {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--brand-purple-grey);
    border-radius: 0.75rem;
    margin-bottom: 1rem;
  }
  &__icon-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-grey);
    border-radius: 0.5rem;
    background-color: var(--white);
    @include abstracts.breakpointUp(medium) {
      width: 4rem;
      height: 4rem;
    }
  }
  &__emoji {
    line-height: 1;
    font-size: 1.5rem;
    @include abstracts.breakpointUp(medium) {
      font-size: 2rem;
    }
  }
  &__icon {
    @include abstracts.breakpointUp(medium) {
      width: 2rem;
      height: 2rem;
    }
  }
}
