@use "../abstracts";

.footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  border-top: 1px solid var(--dark-grey);
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__socials-container {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  &__socials-logo {
    @include abstracts.breakpointUp(large) {
      width: 2rem;
      height: 2rem;
    }
  }
  &__copyright {
    font-family: var(--body-typeface);
    font-weight: 400;
    font-size: 0.875rem;
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
    }
  }
}
