@use "../abstracts";

.intro {
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  @include abstracts.breakpointUp(large) {
    margin-bottom: 4.5rem;
  }
  &__container {
    padding: 1rem;
    padding-bottom: 0.5rem;
    background-color: var(--brand-purple-grey);
    border-radius: 0.75rem;
    @include abstracts.breakpointUp(medium) {
      padding: 2rem;
      padding-bottom: 1.5rem;
    }
    @include abstracts.breakpointUp(large) {
      padding: 2.5rem;
    }
  }
  &__skills-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @include abstracts.breakpointUp(medium) {
      flex-direction: row;
    }
  }
  &__skill {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    gap: 1.125rem;

    padding: 1rem;
    padding-bottom: 0.5rem;

    background-color: var(--brand-purple-grey);
    border-radius: 0.75rem;
    @include abstracts.breakpointUp(medium) {
      padding: 2rem;
      padding-bottom: 1.5rem;
    }
  }
  &__text {
    text-align: left;
    text-wrap: balance;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
      text-align: center;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.375rem;
    }
    &--skill {
      line-height: 1.3;
    }
  }
}

.skill-icon {
  height: 32px;
  @include abstracts.breakpointUp(small) {
    height: 48px;
  }
  @include abstracts.breakpointUp(medium) {
  }
  @include abstracts.breakpointUp(large) {
    height: 56px;
  }
}
