@use "../abstracts";

.intro {
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 3rem;
  @include abstracts.breakpointUp(medium) {
    padding: 0 2rem;
  }
  @include abstracts.breakpointUp(large) {
    margin-bottom: 4.5rem;
  }
  &__container {
    padding: 1rem;
    background-color: var(--brand-purple-grey);
    border-radius: 0.75rem;
    @include abstracts.breakpointUp(medium) {
      padding: 2rem;
    }
    @include abstracts.breakpointUp(large) {
      padding: 3rem 2rem;
    }
  }
}
