@use "../abstracts";

.nav {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--brand-purple-grey);
  &__container {
    margin: 0;
    flex-grow: 1;
    max-width: 120rem;
    padding: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    // at tablet - left align buttons
    @include abstracts.breakpointUp(small) {
      justify-content: flex-start;
      gap: 1.5rem;
    }
    @include abstracts.breakpointUp(large) {
      padding: 1rem 2rem;
    }
  }
}
