@use "../abstracts";

.projects {
  padding: 0 1rem;
  margin-bottom: 3rem;
  width: 100%;
  flex-grow: 1;
  @include abstracts.breakpointUp(small) {
    margin-bottom: 4rem;
  }
  @include abstracts.breakpointUp(large) {
    margin-bottom: 5rem;
  }
  &__title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--body-typeface);
    @include abstracts.breakpointUp(small) {
      font-size: 1.8rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 2.125rem;
      margin-bottom: 1.25rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 2.625rem;
      margin-bottom: 2rem;
    }
  }

  // card row container
  &__card-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
    @include abstracts.breakpointUp(medium) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include abstracts.breakpointUp(large) {
      flex-wrap: nowrap;
      margin-bottom: 4rem;
    }
    &--project-page {
      @include abstracts.breakpointUp(large) {
        flex-wrap: wrap;
      }
    }
  }

  // card layout
  &__card {
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--brand-purple-grey);
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1);

    // card image
    &-img {
      transition: box-shadow 0.2s ease-in-out;
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
    @include abstracts.breakpointUp(tablet-cards) {
      width: calc(50% - 0.5rem);
    }
    @include abstracts.breakpointUp(large) {
      width: calc(33% - 0.5rem);
    }

    // card content
    &-content-container {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding: 1rem;
      border-radius: 0 0 1rem 1rem;
      @include abstracts.breakpointUp(small) {
        padding: 1.5rem;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 1.125rem;
      font-family: var(--body-typeface);
      @include abstracts.breakpointUp(small) {
        font-size: 1.25rem;
      }
      @include abstracts.breakpointUp(medium) {
        font-size: 1.5rem;
      }
    }

    &-description {
      font-size: 0.875rem;
      font-family: var(--body-typeface);
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 1.5rem;
      @include abstracts.breakpointUp(small) {
        font-size: 1rem;
      }
    }
  }
}

//card hover colour change
.projects__card:hover {
  background-color: var(--brand-purple-dark-grey);
}
