@use "../abstracts";

.project-article {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include abstracts.breakpointUp(small) {
    margin: 0 2rem;
  }
  @include abstracts.breakpointUp(large) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  // anchor menu -----------------------
  &__anchor-menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    @include abstracts.breakpointUp(large) {
      order: 2;
      width: 10.5rem;
      position: sticky;
      top: 2rem;
    }
  }
  &__anchor-menu {
    flex-grow: 1;
    max-width: 50rem;
    margin-bottom: 3rem;
  }
  &__anchor-menu-title {
    font-size: 0.6875rem;
    font-family: var(--body-typeface);
    font-weight: 500;
    color: var(--text-grey);
    margin-bottom: 1rem;
    @include abstracts.breakpointUp(medium) {
      font-size: 0.75rem;
    }
    @include abstracts.breakpointUp(large) {
      margin-left: 0.75rem;
    }
  }
  &__anchor-menu-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__anchor-menu-item {
    display: flex;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    color: var(--text-grey);
    //font-weight: 500;
    font-weight: 600;
    transition: color 0.1s ease;
    gap: 0.5rem;
    max-width: 16em;
    @include abstracts.breakpointUp(medium) {
      font-size: 0.9375rem;
    }
    @include abstracts.breakpointUp(large) {
      color: var(--text-light-grey);
      &:hover {
        color: var(--text-grey);
      }
      &--selected {
        color: var(--text-grey);
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__anchor-menu-item-cap {
    width: 0.25rem;
    background-color: transparent;
    border-radius: 1rem;
    transition: background-color 0.2s ease;
    flex-shrink: 0;
    display: none;
    @include abstracts.breakpointUp(large) {
      display: block;
    }
  }
  // selected cap bar visibility
  .project-article__anchor-menu-item--selected
    .project-article__anchor-menu-item-cap {
    background-color: var(--brand-purple);
  }
  // overview table -----------------------
  &__overview-table {
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    border: 2px solid var(--brand-purple-dark-grey);
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-radius: 0.625rem;
    width: 100%;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
    }
  }
  &__overview-table ul {
    padding: 0;
    margin: 0;
    margin-left: 1.5rem;
  }
  &__overview-table li {
    line-height: 1.3125rem;
    margin-bottom: 0.5rem;
  }
  &__overview-table-row {
    display: flex;
    flex-direction: column;
    @include abstracts.breakpointUp(medium) {
      flex-direction: row;
    }
  }
  &__overview-table-row:first-of-type th {
    border-radius: 0.625rem 0.625rem 0 0;
    border-top: none;
    @include abstracts.breakpointUp(medium) {
      border-radius: 0.625rem 0 0 0;
    }
  }
  &__overview-table-row:last-of-type th {
    @include abstracts.breakpointUp(medium) {
      border-radius: 0 0 0 0.625rem;
    }
  }
  &__overview-table-row:first-of-type td {
    border-top: none;
  }
  &__overview-table-head {
    background-color: var(--brand-purple-grey);
    padding: 1rem;
    text-align: left;
    border-top: 2px solid var(--brand-purple-dark-grey);
    border-radius: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include abstracts.breakpointUp(medium) {
      flex-basis: 13.75rem;
      flex-shrink: 0;
      justify-content: center;
    }
  }
  &__overview-table-data {
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    width: 100%;
    @include abstracts.breakpointUp(medium) {
      padding: 1.5rem 1rem 2rem 1rem;
      border-top: 2px solid var(--brand-purple-dark-grey);
    }
  }
  // text blocks -----------------------
  &__text-block-container {
    max-width: 50rem;
    @include abstracts.breakpointUp(large) {
      margin-right: 2rem;
    }
  }
  &__text-block {
    margin-bottom: 3rem;
    @include abstracts.breakpointUp(medium) {
      margin-bottom: 4rem;
    }
    @include abstracts.breakpointUp(large) {
      margin-bottom: 5rem;
    }
  }
  // article H2 titles
  &__h2-title {
    font-size: 1.5rem;
    font-family: var(--body-typeface);
    font-weight: 800;
    color: var(--text-body);
    letter-spacing: 0.06rem;
    line-height: 1.95rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1.625rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 2rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 2.625rem;
    }
    margin-bottom: 1rem;
    @include abstracts.breakpointUp(large) {
      margin-bottom: 2rem;
    }
  }
  // article paragraphs
  &__paragraph,
  &__ul {
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    color: var(--text-body);
    letter-spacing: 0.04rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
      line-height: 1.75rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
      line-height: 1.97rem;
      margin-bottom: 1.5rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
  &__ul {
    padding-left: 1rem;
    //margin: 1.5rem 0;
    @include abstracts.breakpointUp(medium) {
      padding-left: 1.25rem;
      //margin: 2rem 0;
    }
    @include abstracts.breakpointUp(large) {
      padding-left: 1.5rem;
      //margin: 2.5rem 0;
    }
    & li {
      margin-bottom: 1rem;
    }
  }
  // image blocks -----------------------
  &__img-block {
    background-color: var(--mid-grey);
    padding: 0.5rem;
    border-radius: 0.625rem;
    margin-bottom: 1rem;
    position: relative;
    @include abstracts.breakpointUp(small) {
      padding: 1rem;
      border-radius: 1rem;
    }
    @include abstracts.breakpointUp(medium) {
      margin-bottom: 1.25rem;
    }
    @include abstracts.breakpointUp(large) {
      border-radius: 1.5rem;
    }
  }
  &__img-block-image {
    width: 100%;
    height: auto;
    border-radius: 0.3125rem;
    &:hover {
      cursor: pointer;
    }
    &:not(:first-of-type) {
      margin-top: 1.25rem;
      @include abstracts.breakpointUp(small) {
        margin-top: 2rem;
      }
      @include abstracts.breakpointUp(large) {
        margin-top: 2.5rem;
      }
    }
    @include abstracts.breakpointUp(small) {
      border-radius: 0.5rem;
    }
    @include abstracts.breakpointUp(large) {
      border-radius: 0.75rem;
    }
  }
  &__img-block-caption {
    font-family: var(--body-typeface);
    font-size: 0.875rem;
    color: var(--text-grey);
    line-height: 1rem;
    margin-top: 0.5rem;
    text-align: center;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
      margin-top: 0.75rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.125rem;
      //margin-bottom: 0.5rem;
    }
  }
  // next / back buttons -----------------------
  &__article-nav-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3rem;
    gap: 0.5rem;
    @include abstracts.breakpointUp(back-next-btns) {
      flex-direction: row;
    }
  }
  &__article-nav-btn {
    gap: 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75rem 1rem;
    border-radius: 0.9375rem;
    background-color: var(--brand-purple-light);
    color: var(--text-grey);
    // font
    color: var(--body-typeface);
    font-family: var(--body-typeface);
    font-size: 1rem;
    font-weight: 600;
    &:hover {
      background-color: var(--brand-purple-mid);
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.5rem;
      padding: 1.125rem 1.5rem;
    }
  }
  &__prev-next-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-grey);
    @include abstracts.breakpointUp(medium) {
      font-size: 1rem;
    }
  }
  &__article-nav-btn-next-arrow {
    transform: scaleX(-1);
  }
  &__article-nav-btn-prev-arrow,
  &__article-nav-btn-next-arrow {
    @include abstracts.breakpointUp(medium) {
      width: 24px;
      height: 24px;
    }
  }
}

// ----------------------------------------------
// lightbox styles
// ----------------------------------------------
.lightBox {
  z-index: 100;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  &--zoomed {
    overflow: auto;
    align-items: safe center;
    justify-content: safe center;
  }
}
.lightBoxImg {
  max-height: 100vh;
  max-width: 100vw;
  &--zoomed {
    @include abstracts.breakpointUp(img-large-zoom) {
      width: auto;
      height: auto;
      max-width: 64rem;
      max-height: none;
    }
    @include abstracts.breakpointUp(large) {
      width: auto;
      height: auto;
      max-width: 75rem;
      max-height: none;
    }
  }
}
.lightBoxImg--large:hover {
  cursor: auto;
  @include abstracts.breakpointUp(img-large-zoom) {
    cursor: zoom-in;
  }
}
.lightBoxImg--large.lightBoxImg--zoomed:hover {
  cursor: auto;
  @include abstracts.breakpointUp(img-large-zoom) {
    cursor: zoom-out;
  }
}
.lightBoxBtn {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.65);
  &:hover {
    cursor: pointer;
    background-color: #fafafa;
    & .lightBoxBtn-icon {
      fill: #1f1f1f;
    }
  }
}
.lightBoxCloseBtn {
  top: 1rem;
  right: 2rem;
  position: fixed;
}
.lightBoxZoomBtn {
  display: none;
  top: 1rem;
  right: 5rem;
  position: fixed;
  @include abstracts.breakpointUp(img-large-zoom) {
    display: flex;
  }
}

// zoom button icons
.lightBoxZoomBtn .lightBoxBtn-icon__zoom-in {
  display: block;
}
.lightBoxZoomBtn .lightBoxBtn-icon__zoom-out {
  display: none;
}
.lightBoxZoomBtn--zoomed .lightBoxBtn-icon__zoom-in {
  display: none;
}
.lightBoxZoomBtn--zoomed .lightBoxBtn-icon__zoom-out {
  display: block;
}
