@use "../abstracts";

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.1; // 110% line height
  margin: 0;
  color: var(--text-heading);
  font-family: var(--heading-typeface);
  letter-spacing: 2px;
}

p {
  font-size: 1rem;
  font-family: var(--body-typeface);
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.03125rem;
  color: var(--text-body);
  margin: 0 0 0.5rem 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

// *** project page ***
.banner-project {
  &__title {
    font-size: 2rem;
    @include abstracts.breakpointUp(small) {
      font-size: 2.25rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 4rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 4.4375rem;
    }
  }
  &__summary {
    font-family: var(--body-typeface);
    font-weight: 400;
    line-height: 150%;
    font-size: 0.875rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.125rem;
    }
  }
}
.project-article {
  &__anchor-menu-title {
    font-size: 0.6875rem;
    font-family: var(--body-typeface);
    font-weight: 600;
    color: var(--text-grey);
    @include abstracts.breakpointUp(medium) {
      font-size: 0.875rem;
    }
  }
  &__anchor-menu-item {
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    font-weight: 500;
    color: var(--text-light-grey);
    transition: color 0.1s ease;
    @include abstracts.breakpointUp(medium) {
      font-size: 1rem;
    }
    &:hover {
      cursor: pointer;
      color: var(--text-grey);
    }
    &--selected {
      color: var(--text-grey);
      margin-bottom: 1rem;
      font-weight: 800;
    }
  }
  &__h2-title {
    font-size: 1.5rem;
    font-family: var(--body-typeface);
    font-weight: 800;
    color: var(--text-body);
    letter-spacing: 0.06rem;
    line-height: 1.95rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1.625rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 2rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 2.625rem;
    }
  }
  &__paragraph,
  &__ul {
    font-size: 0.875rem;
    font-family: var(--body-typeface);
    color: var(--text-body);
    letter-spacing: 0.04rem;
    line-height: 1.5rem;
    @include abstracts.breakpointUp(small) {
      font-size: 1rem;
      line-height: 1.75rem;
    }
    @include abstracts.breakpointUp(medium) {
      font-size: 1.125rem;
      line-height: 1.97rem;
    }
    @include abstracts.breakpointUp(large) {
      font-size: 1.375rem;
      line-height: 2.4rem;
    }
  }
  &__ul {
    padding-left: 1rem;
    margin: 1.5rem 0;
    @include abstracts.breakpointUp(medium) {
      padding-left: 1.25rem;
      margin: 2rem 0;
    }
    @include abstracts.breakpointUp(large) {
      padding-left: 1.5rem;
      margin: 2.5rem 0;
    }
  }
}

// footer copyright
.footer__copyright {
  font-family: var(--body-typeface);
  font-weight: 400;
  font-size: 0.75rem;
  @include abstracts.breakpointUp(medium) {
    font-size: 0.875rem;
  }
}
