:root {
  // --- brand colours
  --text-heading: #1f1f1f;
  --text-body: #19181c;
  --text-grey: #3e3e49;
  --text-mid-grey: #525260;
  --text-light-grey: #959595;
  // --- homepage colours
  --brand-purple: #513deb;
  --brand-purple-light: #c6c8f8;
  --brand-purple-mid: #b7b9f2;
  --brand-purple-dark: #3323ae;
  --brand-purple-grey: #efeffc;
  --brand-purple-dark-grey: #c4c6e4;
  // --- projects page colours

  // --- contact page colours

  // --- neutral colours
  --white: #ffffff;
  --black: #000000;
  --off-white: #fafafa;
  --light-grey: #f5f5f5;
  --mid-grey: #f3f3f3;
  --dark-grey: #dedede;

  // --- fonts
  --heading-typeface: "Sora", sans-serif;
  --body-typeface: "Inter", sans-serif;
}
